<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Poiret+One|Roboto"
     rel="stylesheet">
  </head>
  <body>
    <h2>Sign up successful!</h2>
    <form action="login">
      <ul><button type="submit">Log In</button></ul>
    </form>
  </body>
</html>
