<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Sign up successful!</h2>
    <form action="login">
      <ul><button type="submit">Log In</button></ul>
    </form>
  </body>
</html>
