<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Poiret+One|Roboto"
     rel="stylesheet">
  </head>
  <body>
    <h1>MakersBnB</h1>
    <form class="" action="SignUp.html" method="post">
      <button type="submit">Sign Up</button>
    </form>

    <form class="" action="LogIn.html" method="post">
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
