<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form class="register" action="confirmation.html" method="post">
      <ul><input type="text" name="username" placeholder="Pick a username"/></ul>
      <ul><input type="text" name="email" placeholder="Enter your email"/></ul>
      <ul><input type="text" name="password" placeholder="Enter your password"/></ul>
      <ul><button type="submit">Confirm</button></ul>
    </form>
  </body>
</html>
