<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Poiret+One|Roboto"
     rel="stylesheet">
  </head>
  <body>
    <h1>Sign Up</h1>
    <form class="register" action="confirmation">
      <ul><input type="text" name="username" placeholder="Pick a username"/></ul>
      <ul><input type="text" name="email" placeholder="Enter your email"/></ul>
      <ul><input type="text" name="password" placeholder="Enter your password"/></ul>
      <ul><button type="submit">Confirm</button></ul>
    </form>
  </body>
</html>
