<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Spaces</h1>
    <form class="spaces" action="confirmation">
      <ul><input type="text" name="name" placeholder="Name"/></ul>
      <ul><input type="text" name="description" placeholder="Description"/></ul>
      <ul><input type="text" name="price" placeholder="Price per night"/></ul>
      <ul><button type="submit">Add space</button></ul>
    </form>
  </body>
</html>
